---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Blog - Melika Mir Sajjadi">
    <h1 style="font-size: 4rem; font-family: 'Geist ExtraBold';">
        Under Construction <i class="ri-hammer-line"></i>
    </h1>
</BaseLayout>
