---
interface Job {
    employer: string;
    title: string;
    dates: string[] | string;
    summary: string;
}
const { employment } = Astro.props as { employment: Job[] };

import "../styles/employment.css";
---

<table class="employment-table">
    <!-- <thead>
    <tr>
      <th>Employer</th>
      <th>Title</th>
      <th>Dates</th>
      <th>Summary</th>
    </tr>
  </thead> -->
    <tbody>
        {
            employment.map((job: Job) => (
                <tr>
                    <td style="padding-left:0em">
                        <div class="employer">{job.employer}</div>
                        <div class="job-title">{job.title}</div>
                    </td>
                    <td>
                        {Array.isArray(job.dates)
                            ? job.dates.map((date, i) => (
                                  <span style="display: block;">{date}</span>
                              ))
                            : job.dates}
                    </td>
                    <td style="word-break: break-word;">{job.summary}</td>
                </tr>
            ))
        }
    </tbody>
</table>
