---
const currentPath = Astro.url.pathname;

import "../styles/navbar.css";
---

<nav class="navbar">
    <ul id="tabs">
        <li class={currentPath === "/" ? "current" : ""}>
            <a href="/">About</a>
        </li>
        <li class={currentPath === "/projects" ? "current" : ""}>
            <a href="/projects">Projects</a>
        </li>
        <li class={currentPath === "/blog" ? "current" : ""}>
            <a href="/blog">Blog</a>
        </li>
    </ul>
</nav>