---
import content from "../content/now.json";
import "../styles/stickynote.css";
---

<div class="sticky">
    <div class="lines">
        <div class="line blank">x</div>
        <div class="title">Now:</div>
        <!-- <div class="line blank">x</div> -->
        {
            content.activities.map((activity) => (
                <div class="line">- {activity}</div>
            ))
        }
        <div class="line blank">x</div>
        <div class="line">
            See more what I'm up to <a class="now-link" href="/now">now</a>.
        </div>
    </div>
</div>
