---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body class="">
    <Navbar />
    <div class="container">
      <div class="content-container">
        <slot />
      </div>
      <!-- <Footer /> -->
    </div>
  </body>
</html>

<style>
  .container {
    /* border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 2em;
    min-height: 100vh;
    background: #fff;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0.5em; */
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 2em;
    min-height: 100vh;
    background: #fff;
    max-width: calc(100% - 2em);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
  }
  .content-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
  }
</style>
